body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 12px 0 0 0;
}

.defaultnavbar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.defaultnavbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    transition-duration: 0.5s;
}

.defaultnavbar a.splash {
    background-color: #850029;
    color: white;
}

.defaultnavbar a.splash:hover {
    background-color: white;
    color: #850029;
}

.defaultnavbar a:hover {
    background-color: white;
    color: black;
}

.usernavbar {
    float: right;
}

.search-container {
    float: left;
    margin-top: 10.5px;
}

.search-container input[type=search] {
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 20px 0 0 20px;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    font-size: 17px;
    margin-right: 10px;
    background: #ddd;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.usernavbar a.exit {
    color: #ff0000;
}

.usernavbar a.exit:hover {
    background-color: #cc0000;
    color: white;
}

.welcome {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    width: 100%;
}

.button {
    background-color: #850029;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 16px;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
    transition-duration: 0.5s;
}

.small-button {
    background-color: #850029;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    position:relative;
    bottom:0;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 16px;
    width: 1%;
    display: block;
    transition-duration: 0.5s;
}

.medium-button{
    background-color: #850029;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 16px;
    width: 100%;
    max-width: 100px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin: 10px auto;
    transition-duration: 0.5s;
}

.field {
    width: 18%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #850029;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.form-group {
    margin: 5px auto;
}

.profile-image {
    margin: auto;
    padding: 5px 0;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: block;
}

.post-image {
    margin: auto;
    padding: 5px 0;
    border-radius: 1px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition-duration: 0.5s;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    width: 200px;
    height: 400px;
    margin: 10px 20px;
}

.post a.button {
    width: 100%;
    outline: 0;
}

.post-text {
    width: 100%;
    margin: 2px auto;
    border-radius: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: black;
    transition-duration: 0.5s;
}

.description{
    width: 100%;
    margin: 2px auto;
    border-radius: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: bold;
    transition-duration: 0.5s;
    text-decoration: underline;     
    text-decoration-color: black;  
}

.description-text{
    width: 100%;
    margin: 2px auto;
    border-radius: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.5s;     
    text-decoration-color: black;  
}

.userinfo{
    align-items: center;
    text-align: center;
}

.text {
    width: 10%;
    margin: auto;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition-duration: 0.5s;
    color: black;
}

.button:hover {
    background-color: white;
    color: #850029;
}

.medium-button:hover {
    background-color: white;
    color: #850029;
}

.welcome {
    text-align: center;
    color : black;
}

.carousel{
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        animation: slideBg 25s linear infinite 10s;
        animation-timing-function: ease-in-out;
        background-image: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?t=st=1651895759~exp=1651896359~hmac=ae1422250b5155907d5f154b1e9aee3ddc4b8ed2609f7c52e8f7a2e0764b9116&w=1480');
}

.whiteHeader{
    text-align: center;
    color : white;
}

.aboutText{
    text-align: center;
    color: white;
    text-decoration-color: white;
    font-size: 25px;
    display: block;
    transition-duration: 0.5s;
}

@keyframes slideBg  {

        0%{
        background-image : url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?t=st=1651895759~exp=1651896359~hmac=ae1422250b5155907d5f154b1e9aee3ddc4b8ed2609f7c52e8f7a2e0764b9116&w=1480');
        }

        25%{
		background-image : url('https://img.freepik.com/free-photo/black-marble-patterned-texture-background-marble-thailand-abstract-natural-marble-black-white-design_1253-917.jpg?t=st=1651896641~exp=1651897241~hmac=63064ec88cca865af37d65c9c168eb4956d42c33dfdae5e3626a5a4ac313e7d9&w=1060');
	    }

        50%{
		background-image : url('https://img.freepik.com/free-vector/memphis-blue-background-with-halftone-line-elements_1017-33622.jpg?t=st=1651896004~exp=1651896604~hmac=6b17fede4b21cb46424d332e62a8d95be95ae17ced71ae275c5d3ca10921dfe1&w=1800');
        }

	    75%{
		background-image : url('https://img.freepik.com/free-vector/gradient-luxury-background_23-2148999255.jpg?t=st=1651896004~exp=1651896604~hmac=44b3fbef9d17b7109f719c96e2994341f3a90405c4199b99ecc54da93f1b9153&w=1480');
        }
}