{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="image" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    </br>
    <img class="image" src="{{ url_for('static', filename='item_pics/' + post.item_image)}}" height="192" width="192">
    <div class="field">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="button" type="submit" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
          </div>
        {% endif %}
      </div>
      <h2 class="text">{{ post.title }}</h2>
      <p class="text">{{ post.content }}</p>
      <p class="text">${{  post.item_price }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text" id="deleteModalLabel">Delete Post?</h5>
        </div>
        <div class="modal-footer">
          <form class='button' action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
