{% extends "layout.html" %}
{% block content %}
  <article class="media body">
    <h2 style="text-align: center;">{{ post.title }}</h2>
    <div class="article-metadata">
      <small class="text" text>User:</small>
      <a class="medium-button" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
      <small class="text" text>Posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
    </div>
    <img class="post-image" src="{{ url_for('static', filename='item_pics/' + post.item_image)}}" height="192" width="192">
    <div class="field">
      <p class = "description">Description: </p>
      <p class="description-text">{{ post.content }}</p>
      <div class = "price-div">
        <p class="description">Price: </p>
        <p class="description-text">${{  post.item_price }}</p>
      </div>
    </div>
  </article>
  <div class="article-metadata">
    {% if post.author == current_user %}
      <div>
        <a class="button" type="submit" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
      </div>
    {% endif %}
  </div>
  
  <!-- Modal -->
  {% if post.author == current_user %}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text" id="deleteModalLabel">Delete Post?</h5>
        </div>
        <div class="modal-footer">
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="medium-button" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if post.author != current_user %}
      <div class="modal-footer">
        <form action="{{ url_for('add_cart', post_id=post.id) }}" method="POST">
          <input class="button" type="submit" value="Add to Cart">
        </form>
      </div>
{% endif %}

{% endblock content %}
