{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
    <img class="profile-image" src="{{ image_file }}" height="96" width="96">
    <a class="medium-button" href="{{ url_for('user_posts', username=user.username) }}">{{ user.username }}</a>
    <div class="flex-container">
      {% for post in posts.items %}
      <article class="user-post">
        <div class="media-body">
          <div class="article-metadata">
            <small class="post-text">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="button" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="post-text">Description: </p>
          <p class="post-text">{{ post.content }}</p>
          <img class="user-post-image" src="{{ url_for('static', filename='item_pics/' + post.item_image)}}">
        </div>
      </article>
      {% endfor %}
    </div>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="small-button" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="small-button" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
